td {
    border-radius: 2px;
    text-align: left;
    font-family: fantasy;
}

td.hide {
    color: burlywood;
    padding: 1px;
}

td.blue {
    background-color: steelblue;
    padding: 8px;
}

td.sky {
    background-color: skyblue;
    padding: 8px;
}

td.green {    
    background-color: lawngreen;
    padding: 8px;
}

td.chocolate {
    background-color: rgb(145, 69, 15);
    padding: 8px;
}

td.orange {
    background-color: orangered;
    padding: 8px;
}

td.center {
    text-align: center;
}

td .size {
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-variant: small-caps;
}

td img {
    height: 30px;
   text-align: center;
}
